/* 全局滚动条配置 */
body{
	overflow-y:auto;
}
::-webkit-scrollbar-track-piece {
	background-color:#f8f8f8;
	}
	::-webkit-scrollbar {
	width:10px;
	height:10px;
	}
	::-webkit-scrollbar-thumb {
	background-color:#dddddd;
	background-clip:padding-box;
	border-radius: 10px;
	min-height:28px;
	}
	::-webkit-scrollbar-thumb:hover {
	background-color:#bbb;
	}
	.lineInput{
		font-size: 12px;
		border: none;
		border-bottom: 1px solid #d9d9d9;
		border-radius: 0;
	  }
	/* 原生表格样式配置 */
	table.gridtable {
		font-family: verdana,arial,sans-serif;
		font-size:14px;
		color:rgba(0, 0, 0, 0.65);;
		border-width: 1px;
		border-color: #dddddd;
		border-collapse: collapse;
		width: 100%;
	}
	table.gridtable th {
		border-width: 1px;
		padding: 12px;
		font-size: 14px;
		border-style: solid;
		border-color: #dddddd;
		background-color: #fff;
	}
	table.gridtable td {
		border-width: 1px;
		padding: 12px;
		font-size: 12px;
		border-style: solid;
		border-color: #dddddd;
		background-color: #ffffff;
	}
	table.gridtable_colFirst td {
		border-width: 1px;
		padding: 8px;
		font-size: 12px;
		border-style: solid;
		border-color: #dddddd;
		background-color: #ffffff;
	}
	.fontSize28 {
		font-size: 28px!important;
	}
	.fontSize24 {
		font-size: 24px!important;
	}
	.fontSize22 {
		font-size: 22px!important;
	}
	.fontSize20 {
		font-size: 20px!important;
	}
	.fontSize18 {
		font-size: 18px!important;
	}
	.fontSize16 {
		font-size: 16px!important;
	}
	.fontSize14 {
		font-size: 14px!important;
	}
	.fontSize12 {
		font-size: 12px;
	}
	.fontWeight6{
		font-weight: 600;
	}
	.fontWeight5{
		font-weight: 500;
	}
	.porA {
		position: absolute;
	}
	.porR {
		position: relative;
	}
	.textAlignR{
		text-align: right;
	}
	.textAlignC{
		text-align: center!important;
	}
	
	
	.cursorP {
		cursor: pointer;
	}
	.floatR{
		float: right;
	}
	.floatL{
		float: left;
	}
	
	.ocs_tab_header .ant-table-tbody > tr > td {
		border-bottom: 0px solid #e8e8e8;
	}
	.ocs_tab_header .ant-table-thead > tr > th {
		background-color:rgba(24, 144, 255, 0.1);
		border-bottom: 0px solid #e8e8e8;
		color: #909399;
		font-weight: 600;
	}
	.bgColorf9 {
		background-color: #f9fafb;
	}
	
	.bgColorff {
		background-color: #ffffff;
	}
	.lineHeight40 {
		line-height: 40px;
	}
	.lineHeight30 {
		line-height: 30px;
	}
	.lineHeight18 {
		line-height: 18px;
	}
	.selfAselect .ant-select-selection  {
		border: none;
		border-bottom: 1px solid #d9d9d9;
		border-radius: 0px;
	}
	.selfAinput .ant-input {
		border: none;
		border-bottom: 1px solid #d9d9d9;
		border-radius: 0px;
	}
	
	.bgColord9 {
		background-color: #d9d9d9;
	}
	.width100{
		width: 100%;
	}
	.marginT2{
		margin-top: 2px;
	}
	.marginT5{
		margin-top: 5px;
	}
	.marginT8{
		margin-top: 8px;
	}
	.marginT10{
		margin-top: 10px;
	}
	.marginT13{
		margin-top: 13px;
	}
	.marginT20{
		margin-top: 20px;
	}
	.marginT30{
		margin-top: 30px;
	}
	.marginT40{
		margin-top: 40px;
	}
	.marginT80{
		margin-top: 80px;
	}
	.marginB5{
		margin-bottom: 5px;
	}
	.marginB10{
		margin-bottom: 10px;
	}
	.marginB12{
		margin-bottom: 12px;
	}
	.marginB20{
		margin-bottom: 20px;
	}
	.marginB40{
		margin-bottom: 40px;
	}
	.marginB60{
		margin-bottom: 60px;
	}
	.marginL10{
		margin-left: 10px;
	}
	.marginL20{
		margin-left: 20px;
	}
	.marginR5{
		margin-right: 5px;
	}
	.marginR10{
		margin-right: 10px;
	}
	.marginR12{
		margin-right: 12px;
	}
	.marginR20{
		margin-right: 20px;
	}
	.marginR40{
		margin-right: 40px;
	}
	.paddingTB10{
		padding: 10px 0;
	}
	.paddingLR5{
		padding: 0 5px;
	}
	.paddingLR12{
		padding: 0 12px;
	}
	.paddingA10{
		padding: 10px;
	}
	.paddingL10{
		padding-left: 10px;
	}
	.paddingT20{
		padding-top: 20px;
	}
	.verticalM{
		vertical-align: middle;
	}
	.yichu{
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.yichuDH{
		overflow: hidden;
		text-overflow:ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient: vertical;
	}
	.lineHeight25{
		line-height: 25px;
	}
	.lineHeight30{
		line-height: 30px;
	}
	.container-body{
		box-sizing: border-box;
		padding: 12px;
		background: #fff;
	}
	.info-config-style {
		cursor: pointer;
		margin-right: 12px;
	}
	.infoBtn {
		cursor: pointer;
		margin-right: 12px;
		color: #0092DA;
	}
	.dangerBtn {
		cursor: pointer;
		margin-right: 12px;
		color: #ff4d4f;
	}
	.dashedBtn {
		/* cursor: not-allowed;
		margin-right: 12px;
		color: rgba(0,0,0,.25); */
		cursor: pointer;
		color: #0092DA;
	}
	ul,li{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.blue{
		color: #4097ff !important;
	}
	.red{
		color: #f5222d !important;
	}
	.colorF{
		color:#fff;
	}
	.colorD5{
		color:#d5d5d5;
	}
	.color9{
		color: #999;
	}
	.colorA0{
		color: #A0A0A0;
	}
	.color6{
		color: #666;
	}
	.color7{
		color: #777;
	}
	.colorR{
		color:#D0021B;
	}
	.colorB{
		color:#5B85B0;
	}
	.colorBD{
		color:#00ABFF;
	}
	.colorD{
		color:#C5C5C5;
	}
	.colorBlues{
		color:#4F87F5;
	}
	.colorGreens{
		color:#008A6F;
	}
	.colorOranges{
		color:#F76B1C;
	}
	.colorYellow{
		color:#FFCA00;
	}
	.colorOrg{
		color:#EA9200;
	}
	.colorRed{
		color:#D0021B;
	}
	.color97{
		color:#979797;
	}
	.fontWeight6{
		font-weight: 600;
	}
	.blues{
		color: #fff;
		background: #55A8FD;
	}
	.greens{
		color: #fff;
		background: #61BFAD;
	}
	.oranges{
		color: #fff;
		background:  #F88648;
	}
	.grassColor{
		color: #fff;
		background:  #4DD87A;
	}
	.lightGray{
		color: #999;
	}
	.borderBott{
		border-bottom: 1px solid #eee;
	  }
	/* 修改模态框 */
	.drawerModel .drawerBackE{
		background: #e5e5e5!important;
		width: 100%;
		height: 10px;
	}
	.drawerFooterStyle{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #e9e9e9;
		padding: 10px 16px;
		background: #e5e5e5;
		text-align: right;
		z-index: 1;
	}
	.drawerBackW{
		background-color: #fff;
	}
	.tooltip-block .ant-tooltip-inner{
		padding: 0; 
	}
	body{
		background-color: #f0f2f5;
	}
	.details-title{
		font-size: 16px;
		font-weight: 800;
		margin: 12px 0;
	}
.floatWidth{
	float: left;
    width: 100%;
}